// background
$colorBackgroundPrimary: #fffefd;
$colorBackgroundSecondary: #ddf0fa;
$colorBackgroundDisabled: #e7e6e6;
$colorBackgroundWhite: #ffffff;

// primary
$colorPrimary: #74bfe5;
$colorPrimaryHighlight: #0089d0;
$colorSecondary: #ff5f00;
$colorSecondaryHighlight: #d05207;

// border
$colorBorder: #4c4c4c;
$colorBorderPrimary: $colorPrimary;
$colorBorderSecondary: $colorSecondary;

// icon
$colorIconPrimary: #4c4c4c;
$colorIconDisabled: #7d7c7d;

// text
$colorTextPrimary: #3a383a;
$colorTextDisabled: #7d7c7d;
$colorTextError: #ed6060;
$colorTextOrange: $colorSecondary;

// colors
$colorGrayBase: #4d4d4d;
$colorGray75: #979797;
$colorBlack: #000000;
$colorWhite: #ffffff;

// brand
$colorBrand: $colorPrimary;
$colorBrandBrighter: $colorPrimaryHighlight;