// colors
$colorGrayBase: #4d4d4d;
$colorGray75: #979797;
$colorBlack: #000000;
$colorWhite: #ffffff;

// primary
$colorPrimary: #74bfe5;
$colorPrimaryHighlight: #0089d0;

// secondary
$colorSecondary: #ff5f00;
$colorSecondaryHighlight: #d05207;

// background
$colorBackground: #fffefd;
$colorBackgroundPrimary: #ddf0fa;
$colorBackgroundSecondary: $colorSecondary;
$colorBackgroundSecondaryHighlight: $colorSecondaryHighlight;
$colorBackgroundDisabled: #e7e6e6;
$colorBackgroundWhite: #ffffff;

// border
$colorBorder: #4c4c4c;
$colorBorderPrimary: $colorPrimary;
$colorBorderSecondary: $colorSecondary;
$colorBorderSecondaryHighlight: $colorSecondary;

// icon
$colorIconPrimary: #4c4c4c;
$colorIconDisabled: #7d7c7d;

// text
$colorTextPrimary: #3a383a;
$colorTextDisabled: #7d7c7d;
$colorTextError: #ed6060;
$colorTextOrange: $colorSecondary;
$colorTextWhite: $colorWhite;

// brand
$colorBrand: $colorPrimary;
$colorBrandBrighter: $colorPrimaryHighlight;