// background
$colorBackgroundPrimary: '#fffefd';
$colorBackgroundDisabled: '#e7e6e6';
$colorBackgroundWhite: '#ffffff';

// primary
$colorPrimaryMain: '#f88d2a';
$colorPrimaryVariant: '#ff5f00';
$colorPrimaryHighlight: '#d05207';

// border
$colorBorderPrimary: '#f88d2a';
$colorBorder: '#4c4c4c';

// icon
$colorIconPrimary: '#4c4c4c';
$colorIconDisabled: '#c0c0c0';

// text
$colorTextPrimary: '#4d4d4d';
$colorTextDisabled: '#c0c0c0';
$colorTextError: '#ED6060';

// colors
$colorGrayBase: '#4d4d4d';
$colorGray75: '#979797';
$colorBlack: '#000000';
$colorWhite: '#ffffff';

// brand
$colorBrandPrange: '#f88d2a';
$colorBrandOrangeBrighter: '#ff5f00';