@use "sass:map";
@use './__colors.module.scss' as colors;

$fontFamily: "Rubik";

$heading-styles: (
  xxlarge: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 40px,
    font-style: normal,
    font-weight: 600,
    line-height: 52px,
  ),
  xlarge: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 32px,
    font-style: normal,
    font-weight: 600,
    line-height: 40px,
  ),
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 28px,
    font-style: normal,
    font-weight: 600,
    line-height: 40px,
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 24px,
    font-style: normal,
    font-weight: 600,
    line-height: 32px,
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 20px,
    font-style: normal,
    font-weight: 600,
    line-height: 28px,
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 18px,
    font-style: normal,
    font-weight: 600,
    line-height: 24px,
  ),
);

$label-styles: (
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 18px,
    font-style: normal,
    font-weight: 500,
    line-height: 24px,
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 16px,
    font-style: normal,
    font-weight: 500,
    line-height: 20px,
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 14px,
    font-style: normal,
    font-weight: 500,
    line-height: 16px,
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 12px,
    font-style: normal,
    font-weight: 500,
    line-height: 16px,
  ),
);

$paragraph-styles: (
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 18px,
    font-style: normal,
    font-weight: 400,
    line-height: 24px,
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 16px,
    font-style: normal,
    font-weight: 400,
    line-height: 20px,
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 14px,
    font-style: normal,
    font-weight: 400,
    line-height: 18px,
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 12px,
    font-style: normal,
    font-weight: 400,
    line-height: 16px,
  ),
);

@mixin heading($size) {
  $styles: map.get($heading-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}

@mixin label($size) {
  $styles: map.get($label-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}

@mixin paragraph($size) {
  $styles: map.get($paragraph-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }
}